/// Funciones con cadenas de texto
@use "sass: string";
@use "sass:math";
@use "sass:list";
@use "sass:selector";
@use "sass:color";

@debug "hola";
@debug string.index("Helvetica Neue", "Neue");

$string: "Helvetica";
$newString: string.insert("$string", "Bold", 10);

@debug $newString;
@debug string.length($newString);
@debug string.slice($newString, 5, 9);

@debug string.to-upper-case("Bold");
@debug string.to-upper-case(sans-serif);

@debug string.unique-id();

/// Funciones con números

@debug math.$e;
@debug math.$pi;

@debug math.ceil(4.6); //redondeo al mayor proximo
@debug math.floor(4.6); //redondeo al menor proximo

@debug math.clamp(0, 6, 10); //devuelve posicion rango del 0 al 10 = 6
@debug math.max(1, 5, 10, 100); //devuelve maximo = 100
@debug math.min(1, 5, 10, 100); //devuelve minimo = 1

@debug math.abs(); // devuelve el valor absoluto

/// ver doc para las demas funciones
///
/// Funciones con listas

$lista1: 10px 10px 0px 15px;

@debug $lista1;
@debug list.append($lista1, 25px);

$border-custon: solid 1px #ccc;
@debug list.index($border-custon 1px); //2
@debug list.index($border-custon 2px); // null

@debug list.join($lista1, $border-custon, auto);
@debug list.length(list.join($lista1, $border-custon, auto));
@debug list.separator($border-custon);
@debug list.separator(list.join($lista1, $border-custon, auto));

@debug list.set-nth($border-custon, 2, 2px);

///Funciones de selector

$selector-1: "a";
$selector-2: ".disabled";
@debug selector.append($selector-1, $selector-2);

///Funciones de color

$color: rgb(226, 81, 255);
@debug color.adjust($color, $red: -50, $alpha: -0.5);
$color-2: rgb(176, 81, 855, 0.5);

// los mas utilizados son el ligthen y darken

@debug color.complement($color);
$color-comp: #6eff51;
@debug darken($color, 10%);
@debug ligthen($color, 20%);
$color-ligth: #f3b7ff;

@debug color.red($color);
@debug color.green($color);
@debug color.blue($color);

@debug color.invert($color);


